.container {
  margin: auto;
  width: 60%;
  height: 70% !important;
}

:host >>> .mat-tab-label {
  min-width: 50% !important;
}

.main-div {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #673ab7;
}
